header {
    margin: 0%;
    text-align: center;
    padding: 0.4%;
    color: white;
}

#indexbody {
    background-image: url('Headerbckground.png');
    background-size: 100%;
    background-repeat: no-repeat;
}