header {
    margin: 0%;
    padding: 0.4%;
    color: white;
    text-align: center;
}

#indexbody {
    background-image: url('Headerbckground.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
ul {
    list-style-type: none;
    justify-content: center;
    display: flex;
}
li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 9px;
    font-size: 25px;
}
h1 {
    font-size: 60px;
    margin: 10px;
}
h1:hover {
    background-color: lightblue;
    color: black;
}
li a:hover {
    background-color: lightblue;
    color: black;
}